<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/project.js" ></script>

    <title>Title</title>
</head>
<body>
<h1>Main Page</h1>
<a href="/manager">go manager</a>
<a href="/config">go admin!!</a>
<a href="/my-page">go user my-page</a>
<button type="button" onclick="test()">ALERT</button>
</body>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<script src="../static/js/project.js" ></script>
</html>
